
FurnitureStore/.vs/FurnitureStore/FileContentIndex/1f4b36f2-0965-43c9-bacc-544884c40ddd.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/feda5f6c-422a-4ceb-a024-c0bbcbf73142.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/ef3505c3-3e3c-43c2-bc61-c11c478f2bad.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/bfab70ad-1955-422a-8b29-42811d43e6d3.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/bc4b6e8c-c2fe-4543-ba80-355a38b88993.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/bc4b6e8c-c2fe-4543-ba80-355a38b88993.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/ab0ab09c-8d3b-41d3-948d-fc4b946a6a15.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/9da99e0c-a6b1-4adf-bac9-35bf24a1f279.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/56fe59ed-117c-424a-862f-76257af26129.vsidx
*.vsidx
*.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/030f1214-05fe-444b-ad4f-df3daf5a7f3c.vsidx
